@charset "utf-8";

/* Fonts
------------------------------------------------------------*/
$ja_font: "Segoe UI",
"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
"ＭＳ Ｐゴシック",
sans-serif;

/* Colors
------------------------------------------------------------*/
$ac_color: #999411 !default;
$sub_color: #C9171E !default;
$bc_color: #150B00 !default;
// $bc_color: darken(rgba(153,148,17,0.2),0%);
// $bc_color: darken(rgba(201,23,30,0.2), 0%);
// rgba(21,11,0,1)
$bc_color_2: rgba(252,219,4,0.25);
$bc_color_3: rgba(21,11,0,0.6);
$p_color_l: #D5D3D3 !default;
$p_color_d: #707070 !default;